.owl-carousel .owl-item img {
  display: block;
  width: 100%;
 /* height: 100%;*/
  object-fit: cover; /* or 'contain' if you want to fit the image within the container without cropping */
  object-position: center; /* Center the image */
  -webkit-transform-style: preserve-3d;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 100%; /* or specify a fixed width if needed */
  height: 100%; /* or specify a fixed height if needed */
  object-fit: cover; /* or 'contain' if you want to fit the image within the container without cropping */
  object-position: center; /* Center the image */
}

.fixed-dimension-img {
  width: 100%; /* Make sure the image takes the full width of its container */
  height: 250px; /* Fixed height */
  object-fit: cover; /* 'cover' will ensure the image covers the entire area */
  object-position: center; /* Center the image */
}


.probootstrap-media img {
  width: 94%; /* Ensure the image takes the full width of its container */
  height: 250px; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensure the image covers the container */
  object-position: center; /* Center the image */
}
