/*=================OTP PAGE START HERE===========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:where(.unique-container, .unique-form, .unique-input-field, .unique-header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unique-container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  
}
.unique-container .unique-header {
  height: 65px;
  width: 65px;
  background: #333;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.unique-container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
.unique-form .unique-input-field {
  flex-direction: row;
  column-gap: 10px;
}
.unique-input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
  background: silver;
}
.unique-input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.unique-input-field input::-webkit-inner-spin-button,
.unique-input-field input::-webkit-outer-spin-button {
  display: none;
}
.unique-form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #6e93f7;
  transition: all 0.2s ease;
}
.unique-form button.active {
  background: #4070f4;
  pointer-events: auto;
}
.unique-form button:hover {
  background: #0e4bf1;
}