.nav-tabs li {
  background-color: transparent;
  transition: background-color 0.3s;
}



.hd-message-info {
  display: flex;
  align-items: flex-start;
}

.profile {
  margin-right: 10px; /* Adjust spacing between image and details */
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 100%; /* Make the image circular if needed */
}

.profile_details {
  display: flex;
  flex-direction: column;
}

.profile_details span {
  margin: 2px 0; /* Adjust spacing between text elements */
}

.button_container {
  margin-top: 10px;
}

.button_container .btn {
  display: inline-block;
  padding: 1px 20px;
  background-color: #ffffff;
  color: black;
  text-align: left;
  text-decoration: none;
 font-size: 17px !important;
  transition: background-color 0.3s;
}

.button_container .btn:hover {
  background:linear-gradient(to right, #da8cff, #9a55ff);
  color: white;
}

.mgs-time {
  font-size: 0.9em; /* Adjust font size as needed */
  color: gray; /* Adjust color as needed */
}


.curved-ctn {
  display: flex;
  align-items: center;
  /* Align items vertically centered */
  justify-content: space-between;
  /* Space between image and info section */
  padding: 0px;
  border-radius: 10px;
  /* Optional: add border radius for curved corners */
}

.image-section img {
  max-width: 80%;
  /* Ensure the image is responsive */
  height: auto;
  border-radius: 10px;
  /* Optional: add border radius to the image */
}

.info-section {
  margin-left: 10px;
  /* Add some space between the image and the info section */
}

.info-section h2,
.info-section i {
  margin: 0;
  font-size: 14px;
  /* Remove default margins */
}

.news_post {
  width: 100%;
  height: 50vh;
}
.news-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines before ellipsis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust based on line height */
  
}

.toggle-button {
  background-color: transparent; /* Transparent background */
  color: black  ;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  
}

.expanded {
  -webkit-line-clamp: initial;
  max-height: none;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 20px auto;
  /* Center the card horizontally */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event_image {
  width: 100%;
  height: 190px;
  display: block;
  /* Remove bottom space */
  object-fit: cover;
}

.card-content {
  background: white;
  padding: 16px;
}

.card-title {
  font-size: 18px;
  margin: 0 0 8px;
}

.card-date {
  color: #888;
  font-size: 14px;
  margin: 0 0 16px;
}

.card-description {
  font-size: 16px;
  margin: 0 0 8px;
}
.job-container {
  display: flex;
  justify-content: space-between; /* To push items to the sides */
  align-items: center; /* Center items vertically */
  
}
.job-timesced{
  padding: 5px;
 border: 1px solid black;
  border-radius: 5px;
}

/*==============NEWS START HERE===================*/
.main_card {
  background-color: white;
  position: relative;
  padding: 20px; /* Optional: Add padding for better appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a card effect */
  border-radius: 15px;
  overflow: hidden; /* Ensure the image fits within the specified dimensions */
}

.news_card {
  display: flex;
  align-items: stretch; /* Ensure the content stretches to the full height of the container */
  gap: 20px; /* Adjust spacing between image and content */
}

.news_image {
  flex: 0 0 200px; /* Fixed width */
  overflow: hidden; /* Ensure the image fits within the specified dimensions */
}

.news_image img {
  width: 100%;
  height: 100%; /* Make the image fill the height of the container */
  object-fit: cover; /* Cover the entire area */
}

.news_content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
}

.news_content h3 {
  border-bottom: 3px solid rgb(80, 80, 80);
  margin-bottom: 10px; /* Add margin for spacing */
  padding-bottom: 10px;
}

.border-bottom {
  border-bottom: 2px solid black; /* Add border bottom style */
  margin-bottom: 10px; /* Adjust margin to create space */
  width: 98%;
}

.post_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add margin for spacing */
}

.post_info p {
  margin: 0;
}

.date_posted {
  margin-left: auto;
}

.description {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .news_card {
    flex-direction: column;
  }
  
  .news_image {
    width: 100%;
    height: auto;
  }
  
  .news_content {
    padding: 20px 0;
  }
}
.breadcomb-list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.breadcomb-wp {
  display: flex;
  align-items: center;
}

.breadcomb-icon {
  margin-right: 15px;
}

.breadcomb-ctn {
  flex-grow: 1;
}

.visited-content {
  display: flex;
}

.uploader {
  margin-right: 15px;
}

.date-uploaded {
  text-align: right;
}


/*===============EVENT PAGE START HERE===============*/

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 3);
  /* Adjust this value based on line height and number of lines */
  line-height: 1.2em;
  /* Line height */
  max-height: calc(1.2em * 3);
  /* Adjust this value based on line height and number of lines */
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transform-style: preserve-3d;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fixed-dimension-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.probootstrap-media img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.probootstrap-featured-news-box .probootstrap-media {
  position: relative;
  z-index: 1;
}

.probootstrap-featured-news-box .probootstrap-text {
  min-height: 220px;
  position: relative;
  z-index: 2;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  margin-right: 10px;
  top: -30px;
  -webkit-transition: .3s all;
  transition: .3s all;
  border-bottom: 3px solid #6a41ed;
}

.probootstrap-featured-news-box .probootstrap-text h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 22px;
}

.probootstrap-featured-news-box .probootstrap-text p {
  color: #666666;
}

.probootstrap-featured-news-box:hover,
.probootstrap-featured-news-box:focus {
  outline: none;
}

.probootstrap-featured-news-box:hover .probootstrap-text,
.probootstrap-featured-news-box:focus .probootstrap-text {
  background: #6a41ed;
  top: -40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.probootstrap-featured-news-box:hover .probootstrap-text h3,
.probootstrap-featured-news-box:focus .probootstrap-text h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.probootstrap-featured-news-box:hover .probootstrap-text p,
.probootstrap-featured-news-box:focus .probootstrap-text p {
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-date,
.probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-location,
.probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-date,
.probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-location {
  color: rgba(255, 255, 255, 0.8);
}

.probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-date i,
.probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-location i,
.probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-date i,
.probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-location i {
  color: rgba(255, 255, 255, 0.4);
}

.probootstrap-text {
  display: flex;
  flex-direction: column;
}

.probootstrap-date {
  margin-top: auto;
  /* Pushes the date to the bottom */
  display: flex;
  align-items: center;
  /* Aligns content vertically */
}

.probootstrap-date i {
  margin-right: 5px;
  /* Adds space between icon and date */
}

/*==============Comment Start Here==========*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  background: #dee1e3;
}

.comments-container {

  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}

.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}


.comments-list li {
  margin-bottom: 15px;
  /* display: block;*/
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}

.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
  background: white;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #EEEDEB;
  top: 8px;
  left: -11px;

}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;

}

.reply-list .comment-box {
  width: 610px;

}

.comment-box .comment-head {
  background: #EEEDEB;
  padding: 10px 12px;
  border-bottom: 1px solid red;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}

.comment-box .comment-name.by-author:after {
  content: 'author';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
      width: 480px;
  }

  .comments-list .comment-box {
      width: 390px;
  }

  .reply-list .comment-box {
      width: 320px;
  }
}

.pb-cmnt-container {
  font-family: Lato;
  margin-top: 100px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

.center-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 20px;
}

.my-custom-popup {
  background-color: #f8d7da; /* Light red background color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
}

.my-custom-title {
  color: #721c24; /* Dark red color for the title */
}

.my-custom-content {
  color: #721c24; /* Dark red color for the content */
}